<div id="blog">

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="text-center mb-20">
                <h3 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">blog</h3>
                <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic
                    four
                    dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
            </div>
            <div class="flex flex-wrap -mx-4 -my-8">
                {% for post in blog_articles %}
                    <div class="py-8 px-4 lg:w-1/3">
                        <div class="h-full flex items-start">
                            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                                <p class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">{{ post.createdAt|date('M') }}</p>
                                <p class="font-medium text-lg text-gray-800 title-font leading-none">{{ post.createdAt|date('d') }}</p>
                            </div>
                            <div class="flex-grow pl-6">
                                <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">
                                    CATEGORY</h2>
                                <h1 class="title-font text-xl font-medium text-gray-900 mb-3">{{ post.title }}</h1>
                                <p class="leading-relaxed mb-5">{{ post.content|slice(0, 120) }}...</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

</div>
