<div id="skills" class="py-16 bg-indigo-100">
    <section class="text-gray-600 body-font">
        <div class="text-center mb-20">
            <h3 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">My.skills</h3>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic four
                dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            {% for skill in skills|slice(0, 5) %}
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <p class="title-font font-medium">{{ skill.title }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="flex">
            <a href="https://www.linkedin.com/in/michael-ferreira-2b53449a/"
               target="_blank"
               class="mx-auto mt-16 px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                all.skills
            </a>
        </div>
    </section>
</div>
